.projects-container {
    margin-top: 2em;
    padding: 2em;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .projects {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        display: flex;
        width: 95%;
        .project {
            padding: 1em;  
        }            
    }

}

#project {
    width: 16rem;
    height: 16rem;
}
