.info-container {
  margin-top: 2em;
  padding: 2em;
  color: white;
  width: 95%; }
  .info-container .info {
    background-color: #945bdc;
    padding: 4em; }
    .info-container .info h1 {
      font-size: 3em;
      margin-bottom: 0; }
    .info-container .info h2 {
      margin-top: 0;
      margin-bottom: 2em; }
    .info-container .info #resume {
      margin-top: 3em;
      display: flex;
      justify-content: center; }
      .info-container .info #resume a {
        border: 2px solid white;
        border-radius: 5%;
        padding: 1em;
        color: white;
        text-decoration: none; }
        .info-container .info #resume a:hover {
          background-color: white;
          color: #945bdc; }
