@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header {
    color: white;
    .title-container {
        .title {
            font-size: 1.5em;
            font-family: 'Open Sans', sans-serif;
        }
    }
    #links {
        display: flex;
        align-items: center;
        a {
            padding: 1em;
            text-decoration: none;
            color: white;
            &:hover{
                font-weight: bolder;
            }
        }
    }

}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}