.skills-container{
    margin-top: 2em;
    padding: 2em;
    color: #945bdc;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    i {
        padding: 0.5em;
        font-size: 4em;
    }
}