.contact-container{
    margin-top: 3em;
    padding: 2em;
    color: #9DBEBB;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .icon {
        padding: 1em;
        font-size: 4em;        
    }
    a {
        color: #9DBEBB; 
        &:hover {
            color: #797B84;
        }
    }
}