.contact-container {
  margin-top: 3em;
  padding: 2em;
  color: #9DBEBB;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .contact-container .icon {
    padding: 1em;
    font-size: 4em; }
  .contact-container a {
    color: #9DBEBB; }
    .contact-container a:hover {
      color: #797B84; }
